PaginaRegistro/paginaregistro/Web References/ServCoordWeb/ServCoordinador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DedicacionMediaAsignatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DedicacionMediaAsignaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DedicacionMediaAsignaturaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlumnosAsig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlumnosAsigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlumnosAsigResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DedicacionMediaAsignaturaSoapIn">
    <wsdl:part name="parameters" element="tns:DedicacionMediaAsignatura" />
  </wsdl:message>
  <wsdl:message name="DedicacionMediaAsignaturaSoapOut">
    <wsdl:part name="parameters" element="tns:DedicacionMediaAsignaturaResponse" />
  </wsdl:message>
  <wsdl:message name="AlumnosAsigSoapIn">
    <wsdl:part name="parameters" element="tns:AlumnosAsig" />
  </wsdl:message>
  <wsdl:message name="AlumnosAsigSoapOut">
    <wsdl:part name="parameters" element="tns:AlumnosAsigResponse" />
  </wsdl:message>
  <wsdl:portType name="ServCoordinadorSoap">
    <wsdl:operation name="DedicacionMediaAsignatura">
      <wsdl:input message="tns:DedicacionMediaAsignaturaSoapIn" />
      <wsdl:output message="tns:DedicacionMediaAsignaturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlumnosAsig">
      <wsdl:input message="tns:AlumnosAsigSoapIn" />
      <wsdl:output message="tns:AlumnosAsigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServCoordinadorSoap" type="tns:ServCoordinadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DedicacionMediaAsignatura">
      <soap:operation soapAction="http://tempuri.org/DedicacionMediaAsignatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlumnosAsig">
      <soap:operation soapAction="http://tempuri.org/AlumnosAsig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServCoordinadorSoap12" type="tns:ServCoordinadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DedicacionMediaAsignatura">
      <soap12:operation soapAction="http://tempuri.org/DedicacionMediaAsignatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlumnosAsig">
      <soap12:operation soapAction="http://tempuri.org/AlumnosAsig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServCoordinador">
    <wsdl:port name="ServCoordinadorSoap" binding="tns:ServCoordinadorSoap">
      <soap:address location="http://servwebhads.azurewebsites.net/ServCoordinador.asmx" />
    </wsdl:port>
    <wsdl:port name="ServCoordinadorSoap12" binding="tns:ServCoordinadorSoap12">
      <soap12:address location="http://servwebhads.azurewebsites.net/ServCoordinador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>